[Desktop Entry]
Categories=Game;ActionGame;AdventureGame;
Exec=/usr/bin/minecraft-launcher
Path=/usr/bin/
Icon=minecraft.png
Terminal=false
Type=Application
Name=Minecraft
Comment=Time to Mine!
